header.profile {
  height: 400px;
  width: 100%;
  background-color: #ffc107;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  /* position: relative; */
  /* top: 120px; */
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.light {
  font-weight: 100;
}