nav {
  position: absolute;
  height: 75px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 0.75em;
  background: transparent;
  background-color: #ff6347;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

nav div {
  margin-right: 1.5em;
}
nav div:hover {
  cursor: pointer;
}
nav div:hover #toggle {
  color: white;
  animation: MoveUpDown 1s linear infinite;
  cursor: pointer;
}

#writeNewTweet {
  font-size: 1em;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

#toggle {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
    color: tomato; 
  }
}