/* section.new-tweet {
  width: 100%;
} */
.new-tweet {
  display: none;
  margin-bottom: 25px;
}
.new-tweet h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
textarea {
  width: 100%;
  height: 50px;
  font-weight: 600;
  background-color: #F4F1EC;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 0.15em;
  border-bottom-color: #545149;
  outline: none;
  resize: none;

  flex: 100%;
  margin-bottom: 5px;
}

input {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

input:hover {
  background-color: #545149;
}

form span {
  font-family: 'Bungee', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.red {
  color: red;
}

/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
 
.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
   
  }
  .isa_info {
      color: #00529B;
      background-color: #BDE5F8;
  }
  .isa_success {
      color: #4F8A10;
      display: none;
      /* background-color: #DFF2BF; */
  }
  .isa_warning {
      color: #9F6000;
      background-color: #FEEFB3;
  }
  .isa_error {
      color: tomato;
      border-style: solid;
      border-width: 0.15em;
      border-radius: 10px;
      display: none;
  }
  /* .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
      margin:10px 22px;
      font-size:2em;
      vertical-align:middle;
  } */
